
#intro {
    height: 400px;
}
#intro {
    background: url("images/Header-pic.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
#Company-Logo{

	width: 300px;
	height: 50px;
	border:solid thin;
	margin:100px;
}

h1{

	text-align: center;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 0;
	color: blue;
}

p{
	text-align: center;
	font-size: 10px;
	margin: 0;
	color: #649d66

}


.nav-item{

	margin-left: 20px;
	margin-right: 20px;
}

.navbar-nav{

	float: none;
	text-align: center;
}

.navbaer-nav {

	display: inline-block;
	float: none;
}

